.view {
    width: 210px;
    height: 140px;
    margin: 10px;
    float: left;
    border: 10px solid #e6e6e6;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 6px #000;
    cursor: default;
    background: #fff;
}
.view .mask, .view .content {
    width: 210px;
    height: 140px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    position: relative;
    font-size: 12px;
    padding: 5px;
    background: white;
    margin: 110px 0 0 0;
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view a{
	color:#000;
	text-decoration:none;	
}


.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(3,175,238, 0.5);
    transition: all 0.8s ease-in-out;
}
.view-first h2 {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.7s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


.view-first:hover img {
    /*transform: scale(1.1);*/
}
.view-first:hover .mask {
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

